<template>
    <el-container>
        <el-header>
            <router-link :to="{name: 'dashboard'}">
                TEAM MANAGEMENT TEST PAGE
            </router-link>
        </el-header>
        <el-main>
            <router-view></router-view>
        </el-main>
        <el-footer>
        </el-footer>
    </el-container>
</template>

<script>
    export default {
        name: "app"
    }
</script>

<style>
    .el-header {
        padding: 30px;
        font-size: 14px;
    }

    .el-header a {
        text-decoration: none;
        color: #000;
    }

    .el-form-item__error {
        position: relative !important;
    }
</style>