<template>
    <div>
        <div class="menu-wrapper">
            <router-link :to="{name: 'teamsList'}" class="menu-link">Teams</router-link>
            <router-link :to="{name: 'playersList'}" class="menu-link">Players</router-link>
        </div>
        <div class="body-wrapper">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        name: "index"
    }
</script>

<style scoped>

    .body-wrapper {
        padding: 20px;
    }

    .menu-wrapper {
        margin: 0 10px;
    }
    .menu-link {
        display: inline-block;
        width: 200px;
        padding: 5px;
        border: 1px solid #c6c6c6;
        text-decoration: none;
        color: #000;
    }

    .menu-link:hover {
        background: #FBEEE6;
    }
</style>