<template>
    <el-card>
        <VuePassportLogin
                :api-url="apiUrl"
                :secret="secret"
                inputClass="el-input__inner"
                buttonClass="el-button el-button--success"
                controlClass="el-form-item"
                @success="handleLogin"
                @failed="handleErrors"
        />
    </el-card>
</template>

<script>
    import VuePassportLogin from 'vue-passport'

    export default {
        name: "login",
        components: { VuePassportLogin },

        data () {
            return {
                apiUrl: process.env.MIX_API_URL,
                secret: process.env.MIX_PASSPORT_SECRET
            }
        },

        methods: {
            handleLogin(payload) {
                this.$store.dispatch('setAuthToken', payload.authUser.access_token).then(() => {
                    this.$notify({
                        title: 'Welcome',
                        message: `Welcome back ${payload.authUser.data.name}`,
                        type: 'success'
                    });
                    this.$router.push('/dashboard')
                });
            },
            handleErrors(errors) {
                this.$notify({
                    title: 'Warning',
                    message: errors.response.data.message,
                    type: 'warning'
                });
            },
        },

        created() {
            console.log(process.env.MIX_PASSPORT_SECRET);
        }
    }
</script>

<style scoped>

</style>