<template>
    <div>
        <el-form label-width="120px" size="mini">
            <el-form-item label="First Name">
                <el-input v-model="model.first_name" name="first_name" v-validate="'required|alpha_spaces'"></el-input>
                <div v-show="errors.has('first_name')" class="el-form-item__error">{{ errors.first('first_name') }}</div>
            </el-form-item>

            <el-form-item label="Last Name">
                <el-input v-model="model.last_name" name="last_name" v-validate="'required|alpha_spaces'"></el-input>
                <div v-show="errors.has('last_name')" class="el-form-item__error">{{ errors.first('last_name') }}</div>
            </el-form-item>

            <el-form-item label="Team">
                <el-select v-model="model.team_id" name="team_id" v-validate="'required'" placeholder="Select">
                    <el-option
                            v-for="item in teams"
                            :key="item.id"
                            :label="item.name"
                            :value="item.id">
                    </el-option>
                </el-select>
                <div v-show="errors.has('team_id')" class="el-form-item__error">{{ errors.first('team_id') }}</div>
            </el-form-item>
            <el-form-item>
                <el-button type="success" @click="save">Save</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>

<script>
    import EntityEditMixin from '../../mixins/entity-edit';
    import axios from 'axios';

    export default {
        name: "players-edit",
        data() {
            return {
                entity: "players",
                model: {
                    id: null,
                    first_name: '',
                    last_name: '',
                    team_id: null,
                },
                teams: [],
            }
        },

        mixins: [EntityEditMixin],

        created() {
            this.loadData();

            axios.get(`${process.env.MIX_API_URL}/api/teams`).then((response) => {
                this.teams = response.data.data.map((t) => {
                    return {
                        id: t.id,
                        name: t.name
                    }
                });
            })
        }
    }
</script>

<style scoped>

</style>