<template>
    <div>
        <br/>
        <router-link :to="{ name: 'playersNew'}">
            <el-button size="mini" type="success"><i class="el-icon-plus"></i>&nbsp;Create</el-button>
        </router-link>
        <br/>
        <el-table
                :data="tableData"
                style="width: 100%">
            <el-table-column
                    prop="id"
                    label="ID"
                    width="100">
            </el-table-column>
            <el-table-column
                    prop="name"
                    label="Name">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="Operations"
                    width="120">
                <template slot-scope="scope">
                    <router-link :to="{ name: 'playersEdit', params: {id: tableData[scope.$index].id}}">
                        <button><i class="el-icon-edit"></i></button>
                    </router-link>
                    <button @click="deleteItem(tableData[scope.$index])"><i class="el-icon-delete"></i></button>
                </template>
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
    import EntityListMixin from '../../mixins/entity-list';

    export default {
        name: "players-list",
        data() {
            return {
                entity: 'players',
            }
        },
        methods: {
            dataMap(payload) {
                return {
                    id: payload.id,
                    name: `${payload.last_name} ${payload.first_name}`
                }
            },
        },
        mixins: [EntityListMixin]
    }
</script>

<style scoped>
    button {
        padding: 5px;
        margin: 0 5px;
    }
</style>