<template>
    <div>
        <el-form label-width="120px" size="mini">
            <el-form-item label="Name">
                <el-input v-model="model.name" name="name" v-validate="'required|alpha_spaces'"></el-input>
                <div v-show="errors.has('name')" class="el-form-item__error">{{ errors.first('name') }}</div>
            </el-form-item>
            <el-form-item>
                <el-button type="success" @click="save">Save</el-button>
            </el-form-item>
            <el-form-item label="Players">
                <team-players v-if="model.id !== null" :id="model.id" />
            </el-form-item>
        </el-form>
        <br/>
    </div>
</template>

<script>
    import EntityEditMixin from '../../mixins/entity-edit';
    import TeamPlayers from '../../components/team-players'

    export default {
        name: "teams-edit",
        components: {TeamPlayers},

        data() {
            return {
                entity: "teams",
                model: {
                    id: null,
                    name: '',
                }
            }
        },

        mixins: [EntityEditMixin]
    }
</script>

<style scoped>

</style>