<template>
    <el-table
            :data="tableData"
            style="width: 100%">
        <el-table-column
                prop="id"
                label="ID"
                width="100">
        </el-table-column>
        <el-table-column
                prop="name"
                label="Name">
        </el-table-column>
    </el-table>
</template>

<script>
    import axios from 'axios';
    import { Loading } from 'element-ui';

    export default {
        name: "team-players",
        props: ['id'],
        data() {
            return {
                tableData: []
            }
        },
        methods: {
            loadData() {
                let loadingInstance = Loading.service();

                axios.get(`${process.env.MIX_API_URL}/api/teams/${this.id}/players`).then((response) => {
                    this.tableData = response.data.data.map((r) => {
                        return {
                            id: r.id,
                            name: `${r.last_name} ${r.first_name}`
                        }
                    });
                }).finally(() => {
                    loadingInstance.close();
                });
            }
        },
        created() {
            this.loadData();
        }
    }
</script>

<style scoped>

</style>